* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

body {
  background-color:#171923;
  height: 100vh;
}
header {
  margin: 0 auto;

  max-width: 1200px;
  
  text-align: center;
  padding: 32px 42px;
}
header h1 {
  color: #F7FAFC;
}
main{
  margin: 0 auto;

  text-align: center;
}
#result {
  font-size: 22px;
  color: #F7FAFC;

  padding: 12px 16px;
  margin-bottom: 16px;
}
.light{
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.light #luz {
  max-width:200px;
  max-height:150px;

  width: auto;
  height: auto;

  margin-bottom: 16px;
  padding: 16px 32px;;
}
.btns{
  max-width: 1200px;
  margin: 0 auto;
}
button:nth-child(1){
  width: 72px;
	height: 50px;
	border-radius: 8px;
	font-weight: 500;
	background: #2F855A;
	color: #fff;

	cursor: pointer;
	border: 0;

  transitions: filter 0.2s;
}

button:nth-child(1):hover{
  filter: brightness(0.9);
}

button:nth-child(2){
  width: 72px;
	height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #C53030;
  color: #fff;
  
  cursor: pointer;
  border: 0;

  transitions: filter 0.2s;
}

button:nth-child(2):hover{
  filter: brightness(0.9);
}